.main{
    display: flex;
    gap:32px ;
    margin-top: 30px;
    .first{
        flex: 25%;
        .card {
            padding: 10px;
            //background-image: url(../../images/cardbg.jpg);
            // height: 109px;
             min-width: 205.48px;
            // background-repeat: no-repeat;
            background-color: #0177FB;
            border-radius: 10px;
            p{
                font-size: 13.1625px;
                line-height: 15px;
                font-weight: 600;
                color: #FFFFFF;
            }
            .card-inner-detail{
                margin-top: 36px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &-icon{
                    height: 100%;
                }
            }
        }
        .money{
            margin-top: 24px;
            .money-heading{
                font-size: 16.0875px;
                line-height: 19px;
                color: #141736;
            }
            .select-card{
                background: #FFFFFF;
                    box-shadow: 0px 10.9688px 21.9375px rgba(122, 122, 122, 0.2);
                    border-radius: 10.2375px;
                    margin-bottom: 20px;
            }
            .enter-amount{
                background: #FFFFFF;
                box-shadow: 0px 10.9688px 21.9375px rgba(118, 118, 118, 0.2);
                border-radius: 10.2375px;
            }
            .btn{
                background: #0177FB;
                border-radius: 16.0875px;
                padding: 14px 16.9px;
                margin-top: 21px;
                color: #FFFFFF;
                text-align: center;
                font-weight: 600;
                cursor: pointer;
            }
            .profile-icon {
                background: #DFF3FE;
                color: #0177FB;
                border-radius: 50%;
                height: 15px;
                 width: 15px;
                 display: flex;
                align-items: center;
                cursor: pointer;
            }
            .profile-details {
                margin-top: 17px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .profile-name {
                display: flex;
                gap: 10px;
                align-items: center;
            }
        }
        .transfer{
            margin-top: 40px;
            background: #FFFFFF;
            border: 0.566969px solid #E8E8E8;
            border-radius: 10.2375px;
            padding: 12px;
        }
        
    .transfer-details-icons {
        display: flex;
        gap: 10px;
        justify-content: space-around;
        text-align: center;
        p {
            font-size: 9.50625px;
            color: #798BA3;
        }
        .transfer-icons {
            border: 0.73125px solid #F2F2F2;
            padding: 12px;
            border-radius: 7px;
            width: 40px;
            margin-top: 16px;
        }
    }
    }
    .second{
        flex: 75%;
        .second-top{
            display: flex;
            .chart{
                flex: 50%;
            }
            .contact{
                flex: 50%;
            }
        }
    }
}